Repository habralab/garnet-team, pull requests merged in 2023-11, with the labels that each got.

#199 #198: Настройка деплоя ory
  Dockerfile
  config/deploy.prod.yml
  config/deploy.stage.yml
  config/deploy.yml
  docker-compose.stage.yml
Labels: t/tech

#208 #196 Пользователь может отредактировать ответственного по задачи внутри проекта
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskClose/ProjectTaskCloseSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskEditResponsibleUser/ProjectTaskEditResponsibleUser.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskEditResponsibleUser/ProjectTaskEditResponsibleUserSteps.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Commands/ProjectTaskCreateCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Commands/ProjectTaskEditResponsibleUserCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Errors/ProjectOnlyParticipantCanSetAsTaskExecutorError.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Errors/ProjectOnlyTeamParticipantCanSetAsTaskExecutorError.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Errors/ProjectTaskParticipantOnlyCanSetAsResponsibleUserError.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Errors/ProjectTaskResponsiblePersonOnlyCanEditResponsibleUserError.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/IProjectTaskRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTaskEditResponsibleUser/ProjectTaskEditResponsibleUserPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTask/ProjectTaskRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects, f/tasks

#167 #166 Пользователю приходит уведомление об отмене приглашения в команду
  features/notification/server/Garnet.Notifications.Application/Args/NotificationDeleteArgs.cs
  features/notification/server/Garnet.Notifications.Application/Commands/NotificationDeleteCommand.cs
  features/notification/server/Garnet.Notifications.Application/INotificationRepository.cs
  features/notification/server/Garnet.Notifications.Events/DeleteNotificationCommandMessage.cs
  features/notification/server/Garnet.Notifications.Infrastructure/EventHandlers/DeleteNotificationCommandMessageConsumer.cs
  features/notification/server/Garnet.Notifications.Infrastructure/MongoDB/NotificationRepository.cs
  features/notification/server/Garnet.Notifications/Startup.cs
  features/team/server/Garnet.Teams.AcceptanceTests/FakeServices/NotificationFake/DeleteNotificationCommandMessageFakeConsumer.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvitationCancel/TeamJoinInvitationCancel.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvitationCancel/TeamJoinInvitationCancelSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Startup.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Commands/TeamJoinInvitationCancelCommand.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Notifications/TeamJoinInvitationEntityNotificationsExtensions.cs
Labels: f/teams, f/notifications

#206 #205 Пользователь может отмечать уведомление как прочитанное
  features/notification/server/Garnet.Notifications.AcceptanceTests/Features/NotificationDelete/NotificationDelete.feature
  features/notification/server/Garnet.Notifications.AcceptanceTests/Features/NotificationDelete/NotificationDeleteSteps.cs
  features/notification/server/Garnet.Notifications.Application/Commands/NotificationDeleteAsReadCommand.cs
  features/notification/server/Garnet.Notifications.Application/Errors/NotificationNotFoundError.cs
  features/notification/server/Garnet.Notifications.Application/Errors/NotificationUserCanNotMarkAsReadError.cs
  features/notification/server/Garnet.Notifications.Application/INotificationRepository.cs
  features/notification/server/Garnet.Notifications.Infrastructure/Api/NotificationDelete/NotificationDeletePayload.cs
  features/notification/server/Garnet.Notifications.Infrastructure/Api/NotificationGet/NotificationPayload.cs
  features/notification/server/Garnet.Notifications.Infrastructure/Api/NotificationsMutation.cs
  features/notification/server/Garnet.Notifications.Infrastructure/Api/NotificationsQuery.cs
  features/notification/server/Garnet.Notifications.Infrastructure/MongoDB/NotificationRepository.cs
  features/notification/server/Garnet.Notifications/Startup.cs
Labels: f/notifications

#170 #168 Владельцу приходит уведомление об отмене заявки на вступление в команду
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestCancel/TeamUserJoinRequestCancel.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestCancel/TeamUserJoinRequestCancelSteps.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/Commands/TeamUserJoinRequestCancelCommand.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/Notifications/TeamUserJoinRequestEntityNotificationsExtensions.cs
Labels: f/teams, f/notifications

#212 #209 Пользователь может отредактировать список команд-исполнителей задачи внутри проекта
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskClose/ProjectTaskClose.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskEditTeamExecutor/ProjectTaskEditTeamExecutor.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskEditTeamExecutor/ProjectTaskEditTeamExecutorSteps.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Commands/ProjectTaskCreateCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Commands/ProjectTaskEditTeamExecutorCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Errors/ProjectOnlyTeamParticipantCanSetAsTaskExecutorError.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Errors/ProjectTaskResponsiblePersonOnlyCanEditTeamExecutorError.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Errors/ProjectTeamParticipantOnlyCanBeSetAsTeamExecutorError.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/IProjectTaskRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTaskEditTeamExecutor/ProjectTaskEditTeamExecutorInput.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTaskEditTeamExecutor/ProjectTaskEditTeamExecutorPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTask/ProjectTaskRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects, f/tasks

#217 #214 #216 Пользователь может просмотреть список проектов в которых он участвует и список команд которые участвуют в проекте
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectFilterByTeamParticipantId/ProjectFilterByTeamParticipantId.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectFilterByTeamParticipantId/ProjectFilterByTeamParticipantIdSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectFilterByUserParticipantId/ProjectFilterByUserParticipantId.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectFilterByUserParticipantId/ProjectFilterByUserParticipantIdSteps.cs
  features/project/server/Garnet.Projects.Application/Project/Queries/ProjectFilterByTeamParticipantIdQuery.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/IProjectTeamParticipantRepository.cs
  features/project/server/Garnet.Projects.Application/ProjectUser/Queries/ProjectFilterByUserParticipantIdQuery.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectFilterByTeamParticipantId/ProjectFilterByTeamParticipantIdPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectFilterByUserParticipantId/ProjectFilterByUserParticipantIdPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsQuery.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeamParticipant/ProjectTeamParticipantRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/users, f/teams, f/projects

#136 #2 Новый пользователь может зарегистрироваться
  .github/workflows/backend-deploy.yaml
  .github/workflows/frontend-deploy.yaml
  common/server/Garnet.Common.Infrastructure/Garnet.Common.Infrastructure.csproj
  common/server/Garnet.Common.Infrastructure/Identity/Kratos/KratosProvider.cs
  common/server/Garnet/Program.cs
  config/deploy.yml
  config/ory/kratos/stage/kratos.yaml
  config/ory/kratos/stage/user-create.webhook.jsonnet
  docker-compose.local.yml
  docker-compose.stage.yml
  features/user/server/Garnet.Users.Infrastructure/Api/Controllers/UserCreated.cs
  features/user/server/Garnet.Users.Infrastructure/Api/Controllers/UserCreatedController.cs
Labels: f/users

#231 Добавление kratos db в persistent-deploy
  config/deploy.prod.yml
  config/deploy.stage.yml
  config/deploy.yml
  docker-compose.stage.yml
Labels: t/tech

#232 fix/postgres-db-for-kratos
  .run/App.run.xml
  docker-compose.stage.yml
Labels: t/tech

#222 #220 Пользователь может заново открыть задачу внутри проекта
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskOpen/ProjectTaskOpen.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskOpen/ProjectTaskOpenSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Support/ProjectDocumentBuilder.cs
  features/project/server/Garnet.Projects.Application/Project/Commands/ProjectDeleteCommand.cs
  features/project/server/Garnet.Projects.Application/Project/ProjectEntity.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Commands/ProjectTaskOpenCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Errors/ProjectTaskResponsiblePersonOnlyCanOpenTaskError.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/IProjectTaskRepository.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/Commands/ProjectTeamAddUserParticipantCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/Commands/ProjectTeamDeleteUserParticipantCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/IProjectTeamRepository.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamJoinRequest/Commands/ProjectTeamJoinRequestCreateCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamJoinRequest/IProjectTeamJoinRequestRepository.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/Args/ProjectTeamParticipantCreateArgs.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/Commands/ProjectTeamParticipantAddUserParticipantCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/Commands/ProjectTeamParticipantCreateCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/Commands/ProjectTeamParticipantDeleteUserParticipantCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/Commands/ProjectTeamParticipantLeaveCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/IProjectTeamParticipantRepository.cs
  features/project/server/Garnet.Projects.Events/Project/ProjectDeletedEvent.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectCreate/ProjectCreatePayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTaskOpen/ProjectTaskOpenPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/ProjectTeamJoinRequest/ProjectTeamJoinRequestCreatedConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/Team/TeamJoinInvitationDecidedEventConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/Team/TeamUserJoinRequestDecidedEventConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/User/TeamParticipantLeftTeamEventConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Project/ProjectDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Project/ProjectRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTask/ProjectTaskRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeam/ProjectTeamRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeamJoinRequest/ProjectTeamJoinRequestRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeamParticipant/ProjectTeamParticipantRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects, f/tasks

#215 #213: Оптимизация использования CancellationToken
  common/server/Garnet.Common.Infrastructure/Api/Cancellation/CancellationTokenProvider.cs
  common/server/Garnet.Common.Infrastructure/Api/Startup.cs
  features/user/server/Garnet.Users.AcceptanceTests/Features/UserGet/UserGetSteps.cs
  features/user/server/Garnet.Users.AcceptanceTests/Features/UserUploadAvatar/UserUploadAvatarSteps.cs
  features/user/server/Garnet.Users.AcceptanceTests/Features/UsersFilter/UsersFilterSteps.cs
  features/user/server/Garnet.Users.AcceptanceTests/Startup.cs
  features/user/server/Garnet.Users.Application/Commands/UserCreateCommand.cs
  features/user/server/Garnet.Users.Application/Commands/UserEditDescriptionCommand.cs
  features/user/server/Garnet.Users.Application/Commands/UserEditTagsCommand.cs
  features/user/server/Garnet.Users.Application/Commands/UserEditUsernameCommand.cs
  features/user/server/Garnet.Users.Application/Commands/UserUploadAvatarCommand.cs
  features/user/server/Garnet.Users.Application/IUsersRepository.cs
  features/user/server/Garnet.Users.Application/Queries/UserGetQuery.cs
  features/user/server/Garnet.Users.Application/Queries/UsersFilterQuery.cs
  features/user/server/Garnet.Users.Infrastructure/Api/UsersMutation.cs
  features/user/server/Garnet.Users.Infrastructure/Api/UsersQuery.cs
  features/user/server/Garnet.Users.Infrastructure/MongoDb/Migrations/CreateIndexesMigration.cs
  features/user/server/Garnet.Users.Infrastructure/MongoDb/UsersRepository.cs
  features/user/server/Garnet.Users/Startup.cs
Labels: t/tech

#233 fix/stage-scripts
  docker-compose.stage.yml
Labels: t/tech

#236 feat/auth-user-id
  .pnp.cjs
  common/client/fragments/header-fragment/src/header.component.tsx
  common/client/fragments/header-fragment/src/header.constants.ts
  common/client/fragments/onboarding-fragment/src/hooks/use-page-state.hook.ts
  common/client/fragments/profile-fragment/src/hooks/use-user-state.hook.ts
  common/client/fragments/project-profile-fragment/src/hooks/use-project-state.hook.ts
  common/client/fragments/team-profile-fragment/src/hooks/use-team.state.ts
  common/client/fragments/user-teams-fragment/src/hooks/use-user-teams-state.hook.ts
  shared/data/package.json
  shared/data/src/auth-user-id/index.ts
  shared/data/src/auth-user-id/use-auth-user-id.hook.ts
  shared/data/src/helpers/get-client.helper.ts
  shared/data/src/index.ts
  yarn.lock
Labels: f/identity

#241 fix/stage-issues
  .pnp.cjs
  common/client/entrypoints/renderer/package.json
  common/client/entrypoints/renderer/src/pages/onboard/index.tsx
  common/client/entrypoints/renderer/src/pages/onboarding/index.tsx
  common/client/entrypoints/renderer/src/pages/projects/[id].tsx
  common/client/entrypoints/renderer/src/pages/projects/index.tsx
  common/client/entrypoints/renderer/src/pages/teams/[id].tsx
  common/client/entrypoints/renderer/src/pages/teams/index.tsx
  common/client/entrypoints/renderer/src/pages/teams/invite/index.tsx
  common/client/entrypoints/renderer/src/pages/users/[id].tsx
  common/client/entrypoints/renderer/src/pages/users/teams/[id].tsx
  common/client/entrypoints/renderer/src/pages/users/teams/index.tsx
  common/client/fragments/onboarding-fragment/package.json
  common/client/fragments/onboarding-fragment/src/hooks/use-page-state.hook.ts
  common/client/fragments/onboarding-fragment/src/onboarding.component.tsx
  common/client/pages/index-page/src/index.ts
  common/client/pages/onboard-page/package.json
  common/client/pages/onboard-page/src/index.ts
  common/client/pages/onboard-page/src/onboard.page.tsx
  common/client/pages/onboarding-page/src/index.ts
  docker-compose.stage.yml
  features/identity/client/fragments/auth-forms/src/login/login-form.component.tsx
  features/identity/client/fragments/header-fragment/src/link-switch/link-switch.component.tsx
  shared/data/package.json
  shared/data/src/auth-user-id/use-auth-user-id.hook.ts
  shared/data/src/auth-user-id/use-auth-user-id.interfaces.ts
  yarn.lock
Labels: t/tech

#243 fix/deploy-scripts
  .pnp.cjs
  common/client/entrypoints/renderer/package.json
  common/client/entrypoints/renderer/src/pages/_app.tsx
  common/client/fragments/header-fragment/package.json
  common/client/fragments/header-fragment/src/button-exit/button-exit.component.tsx
  common/client/fragments/header-fragment/src/header.constants.ts
  common/client/fragments/onboarding-fragment/package.json
  common/client/fragments/onboarding-fragment/src/hooks/use-page-state.hook.ts
  common/client/fragments/profile-fragment/package.json
  common/client/fragments/profile-fragment/src/hooks/use-user-state.helper.ts
  common/client/fragments/profile-fragment/src/hooks/use-user-state.hook.ts
  common/client/fragments/profile-fragment/src/hooks/use-user-state.interfaces.ts
  common/client/fragments/project-profile-fragment/package.json
  common/client/fragments/project-profile-fragment/src/hooks/use-project-state.hook.ts
  common/client/fragments/team-profile-fragment/package.json
  common/client/fragments/team-profile-fragment/src/hooks/use-team.state.ts
  common/client/fragments/user-teams-fragment/package.json
  common/client/fragments/user-teams-fragment/src/hooks/use-user-teams-state.hook.ts
  docker-compose.stage.yml
  features/identity/client/entrypoints/accounts-app/package.json
  package.json
  shared/data/src/auth-user-id/index.ts
  shared/data/src/auth-user-id/use-auth-user-id.hook.ts
  shared/data/src/auth-user-id/use-auth-user-id.interfaces.ts
  shared/data/src/index.ts
  stores/session/package.json
  stores/session/src/index.ts
  stores/session/src/session.context.ts
  stores/session/src/session.hook.tsx
  stores/session/src/session.interfaces.ts
  stores/session/src/session.provider.tsx
  yarn.lock
Labels: t/tech

#245 fix/session-context
  .pnp.cjs
  common/client/pages/onboard-page/package.json
  common/client/pages/profile-page/package.json
  common/client/pages/project-page/package.json
  common/client/pages/project-profile-page/package.json
  common/client/pages/team-invite/package.json
  common/client/pages/team-page/package.json
  common/client/pages/team-profile-page/package.json
  common/client/pages/user-teams-page/package.json
  stores/session/src/session.hook.tsx
  tsconfig.json
  yarn.lock
Labels: t/tech

#252 chore/kratos-restart
  docker-compose.stage.yml
Labels: t/tech

#253 fix/client-users-bugs
  .pnp.cjs
  .yarn/cache/fsevents-patch-19706e7e35-9.zip
  common/client/entrypoints/renderer/src/pages/users/[id]/index.ts
  common/client/fragments/user-fragment/package.json
  common/client/fragments/user-fragment/src/hooks/index.ts
  common/client/fragments/user-fragment/src/hooks/use-user-state.hook.ts
  common/client/fragments/user-fragment/src/hooks/use-user-state.interfaces.ts
  common/client/fragments/user-fragment/src/user.component.tsx
  common/client/fragments/user-fragment/src/user.interfaces.ts
  common/client/pages/user-page/package.json
  common/client/pages/user-page/src/get-server-side.ts
  common/client/pages/user-page/src/index.ts
  common/client/pages/user-page/src/user.interfaces.ts
  common/client/pages/user-page/src/user.page.tsx
  features/identity/client/fragments/auth-forms/package.json
  features/identity/client/fragments/auth-forms/src/login/login-form.component.tsx
  features/identity/client/fragments/auth-forms/src/recovery-new-password/recovery-new-password-form.component.tsx
  features/identity/client/fragments/auth-forms/src/recovery/recovery-form.component.tsx
  features/identity/client/fragments/auth-forms/src/registration/registration-form.component.tsx
  shared/data/src/data.interfaces.ts
  shared/data/src/get-user/get-user.query.ts
  shared/data/src/get-user/index.ts
  shared/data/src/mock.ts
  shared/fragments/onboard-provider/src/onboard-provider.component.tsx
  ui/card/src/card-team/card-team.component.tsx
  ui/form/package.json
  ui/form/src/index.ts
  yarn.lock
Labels: t/bug

#255 feat/default-teams-and-projects
  .pnp.cjs
  .yarn/cache/fsevents-patch-19706e7e35-9.zip
  common/client/fragments/project-fragment/package.json
  common/client/fragments/project-fragment/src/helpers/filter-projects.helper.ts
  common/client/fragments/project-fragment/src/helpers/index.ts
  common/client/fragments/project-fragment/src/project.component.tsx
  common/client/fragments/team-fragment/package.json
  common/client/fragments/team-fragment/src/helpers/filter-teams.helper.ts
  common/client/fragments/team-fragment/src/helpers/index.ts
  common/client/fragments/team-fragment/src/team.component.tsx
  common/client/fragments/team-invite-fragment/package.json
  common/client/fragments/team-invite-fragment/src/helpers/filter-users.helper.ts
  common/client/fragments/team-invite-fragment/src/team-invite.component.tsx
  common/client/fragments/user-projects-fragment/package.json
  common/client/fragments/user-projects-fragment/src/hooks/use-user-projects-state.hook.ts
  common/client/fragments/user-teams-fragment/package.json
  common/client/fragments/user-teams-fragment/src/hooks/use-user-teams-state.hook.ts
  features/identity/client/fragments/auth-forms/package.json
  features/identity/client/fragments/auth-forms/src/recovery-new-password/recovery-new-password-form.component.tsx
  features/identity/client/fragments/auth-forms/src/registration/registration-form.component.tsx
  shared/fragments/modals/package.json
  shared/fragments/modals/src/modal-participants/list-participants/list-participants.component.tsx
  shared/helpers/package.json
  shared/utils/package.json
  shared/utils/src/helpers/check-password.ts
  shared/utils/src/helpers/get-unique-tags.helper.ts
  shared/utils/src/helpers/index.ts
  shared/utils/src/helpers/is-includes.ts
  shared/utils/src/hooks/index.ts
  shared/utils/src/hooks/use-debounce.hook.ts
  shared/utils/src/index.ts
  ui/button/package.json
  ui/button/src/button.component.tsx
  ui/card/package.json
  ui/card/src/card.component.tsx
  ui/input/package.json
  ui/input/src/radio/radio.component.tsx
  yarn.lock
Labels: f/teams, f/projects

#256 feat/default-users-to-invite
  common/client/fragments/team-invite-fragment/src/helpers/filter-users.helper.ts
  common/client/fragments/team-invite-fragment/src/helpers/index.ts
  common/client/fragments/team-invite-fragment/src/team-invite.component.tsx
  common/client/fragments/team-profile-fragment/src/data/get-team/get-team.query.ts
  common/client/fragments/team-profile-fragment/src/data/get-team/use-get-team.hook.ts
Labels: f/users

#263 #261 Исправить input teamJoinProjectRequest
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinProjectRequest/TeamJoinProjectRequestSteps.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamJoinProjectRequest/TeamJoinProjectRequestInput.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamJoinProjectRequest/TeamJoinProjectRequestPayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsMutation.cs
Labels: f/teams

#264 #262 Добавить поля в ProjectTeamJoinRequestPayload
  features/project/server/Garnet.Projects.Application/ProjectTeam/Args/ProjectTeamUpdateArgs.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/Commands/ProjectTeamUpdateCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/IProjectTeamRepository.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/ProjectTeamEntity.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTeamJoinRequest/ProjectTeamJoinRequestPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTeamJoinRequestDecide/ProjectTeamJoinRequestDecidePayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsQuery.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/Team/TeamUpdatedEventConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeam/ProjectTeamDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeam/ProjectTeamRepository.cs
Labels: f/projects

#266 #262 Добавить поля в ProjectTeamJoinRequestPayload
  features/project/server/Garnet.Projects.AcceptanceTests/Support/ProjectTeamDocumentBuilder.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/Args/ProjectTeamCreateArgs.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/Commands/ProjectTeamCreateCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/IProjectTeamRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/Team/TeamCreatedEventConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeam/ProjectTeamDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeam/ProjectTeamRepository.cs
Labels: f/projects

#267 fix/display-project-teams
  common/client/fragments/project-profile-fragment/src/data/index.ts
  common/client/fragments/project-profile-fragment/src/data/use-get-project.hook.ts
  common/client/fragments/project-profile-fragment/src/hooks/use-project-state.hook.ts
  common/client/fragments/project-teams-fragment/src/data/get-project/get-project.query.ts
  common/client/fragments/project-teams-fragment/src/data/get-project/index.ts
  common/client/fragments/project-teams-fragment/src/data/get-project/use-get-project.hook.ts
  common/client/fragments/project-teams-fragment/src/data/index.ts
  shared/data/src/get-project/get-project.interfaces.ts
  shared/data/src/get-project/get-project.query.ts
  shared/data/src/get-project/index.ts
  shared/data/src/get-project/use-get-project.hook.ts
  shared/data/src/helpers/index.ts
  shared/data/src/helpers/parse-project-teams.ts
  shared/data/src/index.ts
Labels: t/bug

#269 #268 Правка уведомлений
  features/notification/server/Garnet.Notifications.AcceptanceTests/Support/NotificationDocumentBuilder.cs
  features/notification/server/Garnet.Notifications.Application/Args/NotificationCreateArgs.cs
  features/notification/server/Garnet.Notifications.Application/NotificationEntity.cs
  features/notification/server/Garnet.Notifications.Application/QuotedEntity.cs
  features/notification/server/Garnet.Notifications.Events/NotificationQuotedEntity.cs
  features/notification/server/Garnet.Notifications.Events/SendNotificationCommandMessage.cs
  features/notification/server/Garnet.Notifications.Infrastructure/Api/NotificationDelete/NotificationDeletePayload.cs
  features/notification/server/Garnet.Notifications.Infrastructure/Api/NotificationGet/NotificationPayload.cs
  features/notification/server/Garnet.Notifications.Infrastructure/Api/NotificationGet/QuotedEntityPayload.cs
  features/notification/server/Garnet.Notifications.Infrastructure/Api/NotificationsMutation.cs
  features/notification/server/Garnet.Notifications.Infrastructure/Api/NotificationsQuery.cs
  features/notification/server/Garnet.Notifications.Infrastructure/EventHandlers/SendNotificationCommandMessageConsumer.cs
  features/notification/server/Garnet.Notifications.Infrastructure/MongoDB/NotificationDocument.cs
  features/notification/server/Garnet.Notifications.Infrastructure/MongoDB/NotificationQuoteDocument.cs
  features/project/server/Garnet.Projects.AcceptanceTests/FakeServices/NotificationFake/DeleteNotificationCommandMessageFakeConsumer.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectEditOwner/ProjectEditOwnerSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamJoinRequest/ProjectTeamJoinRequestSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamJoinRequestDecide/ProjectTeamJoinRequestDecide.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamJoinRequestDecide/ProjectTeamJoinRequestDecideSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamJoinRequestGet/ProjectTeamJoinRequestGetSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Startup.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Support/SendNotificationCommandMessageBuilder.cs
  features/project/server/Garnet.Projects.Application/Project/Commands/ProjectEditOwnerCommand.cs
  features/project/server/Garnet.Projects.Application/Project/Notifications/ProjectEntityNotificationsExtensions.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamJoinRequest/Commands/ProjectTeamJoinRequestCreateCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamJoinRequest/Commands/ProjectTeamJoinRequestDecideCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamJoinRequest/Notifications/ProjectTeamJoinRequestEntityNotificationsExtensions.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/Notifications/ProjectTeamParticipantEntityNotificationsExtensions.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvitationDecide/TeamJoinInvitationDecide.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvitationDecide/TeamJoinInvitationDecideSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvite/TeamJoinInviteSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequest/TeamUserJoinRequestStep.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestCancel/TeamUserJoinRequestCancel.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestCancel/TeamUserJoinRequestCancelSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestDecide/TeamUserJoinRequestDecide.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Support/GiveMeExtensions.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Support/SendNotificationCommandMessageBuilder.cs
  features/team/server/Garnet.Teams.Application/Team/Commands/TeamEditOwnerCommand.cs
  features/team/server/Garnet.Teams.Application/Team/Notifications/TeamEntityNotificationsExtensions.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Commands/TeamJoinInvitationDecideCommand.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Notifications/TeamJoinInvitationEntityNotificationsExtensions.cs
  features/team/server/Garnet.Teams.Application/TeamParticipant/Notifications/TeamParticipantEntityNotificationsExtensions.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/Commands/TeamUserJoinRequestCreateCommand.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/Commands/TeamUserJoinRequestDecideCommand.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/Notifications/TeamUserJoinRequestEntityNotificationsExtensions.cs
Labels: f/teams, f/projects, f/notifications

#271 fix/client-bugs
  common/client/fragments/project-profile-fragment/src/profile-description/profile-description.component.tsx
  common/client/fragments/team-profile-fragment/src/profile-description/profile-description.component.tsx
  common/client/fragments/user-profile-fragment/src/profile-description/profile-description.component.tsx
  shared/data/src/get-user/get-user.query.ts
  shared/fragments/onboard-provider/src/onboard-provider.component.tsx
Labels: t/bug

#272 fix/session-peer-deps
  .pnp.cjs
  common/client/pages/user-page/package.json
  common/client/pages/user-projects-page/package.json
  shared/fragments/forms/package.json
  shared/fragments/modals/package.json
  yarn.lock
Labels: t/bug

#273 feat/notifications-client
  .pnp.cjs
  common/client/entrypoints/renderer/locales/ru.json
  common/client/fragments/header-fragment/package.json
  common/client/fragments/header-fragment/src/button-exit/button-exit.component.tsx
  common/client/fragments/header-fragment/src/data/data.interfaces.ts
  common/client/fragments/header-fragment/src/data/decide-project-team-join-request/decide-project-team-join-request.mutation.ts
  common/client/fragments/header-fragment/src/data/decide-project-team-join-request/index.ts
  common/client/fragments/header-fragment/src/data/decide-project-team-join-request/use-decide-project-team-join-request.hook.ts
  common/client/fragments/header-fragment/src/data/decide-team-join-request/decide-team-join-request.mutation.ts
  common/client/fragments/header-fragment/src/data/decide-team-join-request/index.ts
  common/client/fragments/header-fragment/src/data/decide-team-join-request/use-decide-team-join-request.hook.ts
  common/client/fragments/header-fragment/src/data/decide-user-team-join-invite/decide-user-team-join-invite.mutation.ts
  common/client/fragments/header-fragment/src/data/decide-user-team-join-invite/index.ts
  common/client/fragments/header-fragment/src/data/decide-user-team-join-invite/use-decide-user-team-join-invite.hook.ts
  common/client/fragments/header-fragment/src/data/delete-notification/delete-notification.mutation.ts
  common/client/fragments/header-fragment/src/data/delete-notification/index.ts
  common/client/fragments/header-fragment/src/data/delete-notification/use-delete-notification.hook.ts
  common/client/fragments/header-fragment/src/data/get-notifications/get-notifications.query.ts
  common/client/fragments/header-fragment/src/data/get-notifications/index.ts
  common/client/fragments/header-fragment/src/data/get-notifications/use-get-notifications.hook.ts
  common/client/fragments/header-fragment/src/data/index.ts
  common/client/fragments/header-fragment/src/data/mock.ts
  common/client/fragments/header-fragment/src/header.component.tsx
  common/client/fragments/header-fragment/src/helpers/get-path-from-notification-type.helper.ts
  common/client/fragments/header-fragment/src/helpers/index.ts
  common/client/fragments/header-fragment/src/hooks/index.ts
  common/client/fragments/header-fragment/src/hooks/use-decide-request.hook.ts
  common/client/fragments/header-fragment/src/notifications/index.ts
  common/client/fragments/header-fragment/src/notifications/notification-icon/index.ts
  common/client/fragments/header-fragment/src/notifications/notification-icon/notification-icon.component.tsx
  common/client/fragments/header-fragment/src/notifications/notification-icon/notification-icon.interfaces.ts
  common/client/fragments/header-fragment/src/notifications/notification-list/index.ts
  common/client/fragments/header-fragment/src/notifications/notification-list/notification-item/button-delete/button-delete.component.tsx
  common/client/fragments/header-fragment/src/notifications/notification-list/notification-item/button-delete/button-delete.interfaces.ts
  common/client/fragments/header-fragment/src/notifications/notification-list/notification-item/button-delete/index.ts
  common/client/fragments/header-fragment/src/notifications/notification-list/notification-item/buttons-decide/buttons-decide.component.tsx
  common/client/fragments/header-fragment/src/notifications/notification-list/notification-item/buttons-decide/buttons-decide.interfaces.ts
  common/client/fragments/header-fragment/src/notifications/notification-list/notification-item/buttons-decide/index.ts
  common/client/fragments/header-fragment/src/notifications/notification-list/notification-item/index.ts
  common/client/fragments/header-fragment/src/notifications/notification-list/notification-item/notification-item.component.tsx
  common/client/fragments/header-fragment/src/notifications/notification-list/notification-item/notification-item.constants.ts
  common/client/fragments/header-fragment/src/notifications/notification-list/notification-item/notification-item.interfaces.ts
  common/client/fragments/header-fragment/src/notifications/notification-list/notification-list.component.tsx
  common/client/fragments/header-fragment/src/notifications/notification-list/notification-list.interfaces.ts
  common/client/fragments/header-fragment/src/notifications/notifications.component.tsx
  shared/fragments/modals/src/modal-participants/user-request-block/helpers/index.ts
  shared/fragments/modals/src/modal-participants/user-request-block/user-request-block.component.tsx
  shared/utils/src/helpers/check-password.helper.ts
  shared/utils/src/helpers/get-days-ago.helper.ts
  shared/utils/src/helpers/index.ts
  shared/utils/src/helpers/is-includes.helper.ts
  ui/icon/icons/Bell.svg
  ui/icon/icons/BellActive.svg
  ui/icon/src/BellActiveIcon.tsx
  ui/icon/src/BellIcon.tsx
  ui/icon/src/index.ts
  ui/theme/src/theme/index.ts
  ui/theme/src/theme/lineHeights.ts
  ui/theme/src/theme/shadows.ts
  yarn.lock
Labels: f/notifications
