Repository habralab/garnet-team, pull requests merged in 2023-10, with the labels that each got.

#40 #11 Пользователь может удалить свою команду
  common/server/Garnet.Common.Application/Garnet.Common.Application.csproj
  common/server/Garnet.Common.Infrastructure/Support/ResultErrorHandler.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamDelete/TeamDelete.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamDelete/TeamDeleteSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Support/GiveMeExtensions.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Support/TeamParticipantDocumentBuilder.cs
  features/team/server/Garnet.Teams.Application/ITeamParticipantRepository.cs
  features/team/server/Garnet.Teams.Application/ITeamRepository.cs
  features/team/server/Garnet.Teams.Application/TeamService.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamDelete/TeamDeletePayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsMutation.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsQuery.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamParticipantRepository.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamRepository.cs
  features/user/server/Garnet.Users.AcceptanceTests/Features/UserGet/UserGetSteps.cs
  features/user/server/Garnet.Users.Infrastructure/Api/UsersQuery.cs
Labels: f/teams

#41 #10 Пользователь может отредактировать свою команду
  common/server/Garnet.Common.AcceptanceTests/Contexts/QueryExceptionsContext.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamDelete/TeamDeleteSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamEdit/TeamEdit.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamEdit/TeamEditSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamGet/TeamGet.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamGet/TeamGetSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Startup.cs
  features/team/server/Garnet.Teams.Application/ITeamRepository.cs
  features/team/server/Garnet.Teams.Application/TeamService.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamEdit/TeamEditDescriptionInput.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamEdit/TeamEditDescriptionPayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsMutation.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamRepository.cs
Labels: f/teams

#52 #21 Пользователь может удалить свой проект
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectDelete/ProjectDelete.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectDelete/ProjectDeleteSteps.cs
  features/project/server/Garnet.Projects.Application/Errors/ProjectNotFoundError.cs
  features/project/server/Garnet.Projects.Application/Errors/ProjectOnlyOwnerCanDeleteError.cs
  features/project/server/Garnet.Projects.Application/IProjectsRepository.cs
  features/project/server/Garnet.Projects.Application/Project.cs
  features/project/server/Garnet.Projects.Application/ProjectsService.cs
  features/project/server/Garnet.Projects.Events/ProjectDeletedEvent.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectDelete/ProjectDeletePayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectsRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects

#54 Add typed errors
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectDelete/ProjectDelete.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectEditDescription/ProjectEditDescription.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectEditDescription/ProjectEditDescriptionSteps.cs
  features/project/server/Garnet.Projects.Application/Errors/ProjectOnlyOwnerCanEditError.cs
  features/project/server/Garnet.Projects.Application/ProjectsService.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectEditDescription/ProjectEditDescriptionInput.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectEditDescription/ProjectEditDescriptionPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsQuery.cs
Labels: f/projects

#55 #22 Пользователь может сменить владельца своего проекта
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectCreate/ProjectCreateSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectEditOwner/ProjectEditOwner.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectEditOwner/ProjectEditOwnerSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Startup.cs
  features/project/server/Garnet.Projects.Application/Errors/ProjectUserNotFoundError.cs
  features/project/server/Garnet.Projects.Application/IProjectRepository.cs
  features/project/server/Garnet.Projects.Application/IProjectUserRepository.cs
  features/project/server/Garnet.Projects.Application/ProjectService.cs
  features/project/server/Garnet.Projects.Application/ProjectUser.cs
  features/project/server/Garnet.Projects.Application/ProjectUserService.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectEditOwner/ProjectEditOwnerInput.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectEditOwner/ProjectEditOwnerPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsQuery.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/UserCreatedEventConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/Garnet.Projects.Infrastructure.csproj
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Db.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Migrations/CreateIndexesMigration.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectUserDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectUserRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects

#58 #14 Пользователь может подавать заявки на вступление в другие команды
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamCreate/TeamCreateSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinRequest/TeamUserJoinRequest.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinRequest/TeamUserJoinRequestStep.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Startup.cs
  features/team/server/Garnet.Teams.Application/Errors/TeamNotFoundError.cs
  features/team/server/Garnet.Teams.Application/Errors/TeamPendingUserJoinRequestError.cs
  features/team/server/Garnet.Teams.Application/Errors/TeamUserIsAlreadyAParticipantError.cs
  features/team/server/Garnet.Teams.Application/Garnet.Teams.Application.csproj
  features/team/server/Garnet.Teams.Application/ITeamUserJoinRequestRepository.cs
  features/team/server/Garnet.Teams.Application/TeamMembershipService.cs
  features/team/server/Garnet.Teams.Application/TeamService.cs
  features/team/server/Garnet.Teams.Application/TeamUser.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest.cs
  features/team/server/Garnet.Teams.Events/Garnet.Teams.Events.csproj
  features/team/server/Garnet.Teams.Events/TeamUserJoinRequestEvent.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamUserJoinRequest/TeamUserJoinRequestPayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsMutation.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/Db.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamUserDocument.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamUserJoinRequestDocument.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamUserJoinRequestRepository.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamUserRepository.cs
  features/team/server/Garnet.Teams/Startup.cs
Labels: f/teams

#61 #23 Пользователь может искать проекты с использованием фильтров
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectCreate/ProjectCreateSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectFilter/ProjectFilter.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectFilter/ProjectFilterSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Support/ProjectDocumentBuilder.cs
  features/project/server/Garnet.Projects.Application/IProjectRepository.cs
  features/project/server/Garnet.Projects.Application/Project.cs
  features/project/server/Garnet.Projects.Application/ProjectService.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectCreate/ProjectCreateInput.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectCreate/ProjectCreatePayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectFilter/ProjectFilterInput.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectFilter/ProjectFilterPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectGet/ProjectPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsQuery.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectRepository.cs
Labels: f/projects

#63 #51 Пользователь может просматривать список команд-участников проекта
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamParticipant/ProjectTeamParticipant.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamParticipantsFilter/ProjectTeamParticipantsFilter.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamParticipantsFilter/ProjectTeamParticipantsFilterSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Startup.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Support/ProjectTeamDocumentBuilder.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Support/ProjectTeamParticipantDocumentBuilder.cs
  features/project/server/Garnet.Projects.Application/IProjectTeamParticipantRepository.cs
  features/project/server/Garnet.Projects.Application/IProjectTeamRepository.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipantService.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamService.cs
  features/project/server/Garnet.Projects.Events/TeamCreatedEventMock.cs
  features/project/server/Garnet.Projects.Events/TeamUpdatedEventMock.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTeamParticipant/ProjectTeamParticipantInput.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTeamParticipant/ProjectTeamParticipantPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsQuery.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/TeamCreatedEventConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/TeamUpdatedEventConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/Garnet.Projects.Infrastructure.csproj
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Db.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeamDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeamParticipantDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeamParticipantRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeamRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects

#66 #15 Пользователь может просматривать заявки на вступление в свою команду
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequest/TeamUserJoinRequest.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequest/TeamUserJoinRequestStep.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestsShow/TeamUserJoinRequestShow.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestsShow/TeamUserJoinRequestsShowSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Startup.cs
  features/team/server/Garnet.Teams.Application/Errors/TeamUserJoinRequestOnlyOwnerCanSeeError.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequestService.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamUserJoinRequest/TeamUserJoinRequestPayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamUserJoinRequestsShow/TeamUserJoinRequestsShowPayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsMutation.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsQuery.cs
  features/team/server/Garnet.Teams/Startup.cs
Labels: f/teams

#68 #16 Пользователь может выносить вердикт по заявкам на вступление в свою команду
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestDecide/TeamUserJoinRequestDecide.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestDecide/TeamUserJoinRequestDecideSteps.cs
  features/team/server/Garnet.Teams.Application/Errors/TeamUserJoinRequestNotFoundError.cs
  features/team/server/Garnet.Teams.Application/Errors/TeamUserJoinRequestOnlyOwnerCanDecideError.cs
  features/team/server/Garnet.Teams.Application/ITeamUserJoinRequestRepository.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequestService.cs
  features/team/server/Garnet.Teams.Events/TeamUserJoinRequestProcessedEvent.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamUserJoinRequestDecide/TeamUserJoinRequestDecideInput.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsMutation.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamUserJoinRequestRepository.cs
  features/team/server/Garnet.Teams/Startup.cs
Labels: f/teams

#70 #45 Пользователь может просматривать заявки на вступление команд в свой проект
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamJoinRequestGet/ProjectTeamJoinRequestGet.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamJoinRequestGet/ProjectTeamJoinRequestGetSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamParticipantsFilter/ProjectTeamParticipantsFilterSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Support/ProjectTeamJoinRequestDocumentBuilder.cs
  features/project/server/Garnet.Projects.Application/Errors/ProjectOnlyOwnerCanGetTeamJoinRequestsError.cs
  features/project/server/Garnet.Projects.Application/IProjectTeamJoinRequestRepository.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamJoinRequestService.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTeamJoinRequest/ProjectTeamJoinRequestPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTeamJoinRequestGet/ProjectTeamJoinRequestGetInput.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTeamJoinRequestGet/ProjectTeamJoinRequestGetPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTeamParticipant/ProjectTeamParticipantPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsQuery.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeamJoinRequestRepository.cs
Labels: f/projects

#71 #17 Пользователь может пригласить других пользователей в свою команду
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvite/TeamJoinInvite.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvite/TeamJoinInviteSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Startup.cs
  features/team/server/Garnet.Teams.Application/Errors/TeamOnlyOwnerCanInviteError.cs
  features/team/server/Garnet.Teams.Application/Errors/TeamPendingJoinInvitationError.cs
  features/team/server/Garnet.Teams.Application/ITeamJoinInvitationRepository.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitationFilterArgs.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInviteArgs.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInviteCommand.cs
  features/team/server/Garnet.Teams.Events/TeamJoinInvitationCreatedEvent.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamJoinInvite/TeamJoinInviteInput.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamJoinInvite/TeamJoinInvitePayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsMutation.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/Db.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamJoinInvitationDocument.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamJoinInvitationRepository.cs
  features/team/server/Garnet.Teams/Startup.cs
Labels: f/teams

#72 #43 Пользователь может подавать заявки от имени своей команды на вступление в проект
  features/project/server/Garnet.Projects.Events/ProjectTeamJoinRequestDecidedEvent.cs
  features/team/server/Garnet.Teams.AcceptanceTests/FakeServices/ProjectFake/ProjectTeamJoinRequestFakeConsumer.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinProjectRequest/TeamJoinProjectRequest.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinProjectRequest/TeamJoinProjectRequestSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequest/TeamUserJoinRequestStep.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestDecide/TeamUserJoinRequestDecideSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Startup.cs
  features/team/server/Garnet.Teams.Application/Errors/TeamOnlyOwnerCanRequestJoiningProjectError.cs
  features/team/server/Garnet.Teams.Application/Errors/TeamPendingJoinProjectRequestError.cs
  features/team/server/Garnet.Teams.Application/ITeamJoinProjectRequestRepository.cs
  features/team/server/Garnet.Teams.Application/TeamJoinProjectRequest.cs
  features/team/server/Garnet.Teams.Application/TeamJoinProjectRequestCreateCommand.cs
  features/team/server/Garnet.Teams.Application/TeamService.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequestService.cs
  features/team/server/Garnet.Teams.Events/TeamCreatedEvent.cs
  features/team/server/Garnet.Teams.Events/TeamDeletedEvent.cs
  features/team/server/Garnet.Teams.Events/TeamJoinProjectRequestCreatedEvent.cs
  features/team/server/Garnet.Teams.Events/TeamUpdatedEvent.cs
  features/team/server/Garnet.Teams.Events/TeamUserJoinRequestCreatedEvent.cs
  features/team/server/Garnet.Teams.Events/TeamUserJoinRequestDecidedEvent.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamJoinProjectRequest/TeamJoinProjectRequestPayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsMutation.cs
  features/team/server/Garnet.Teams.Infrastructure/EventHandlers/ProjectDeletedEventConsumer.cs
  features/team/server/Garnet.Teams.Infrastructure/EventHandlers/ProjectTeamJoinRequestDecidedEventConsumer.cs
  features/team/server/Garnet.Teams.Infrastructure/Garnet.Teams.Infrastructure.csproj
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/Db.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamJoinProjectRequestDocument.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamJoinProjectRequestRepository.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamUserJoinRequestRepository.cs
  features/team/server/Garnet.Teams/Startup.cs
Labels: f/teams

#84 #83 Пользователь может редактировать аватар своего проекта
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectCreate/ProjectCreateSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectUploadAvatar/ProjectUploadAvatar.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectUploadAvatar/ProjectUploadAvatarSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Startup.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Support/ProjectDocumentBuilder.cs
  features/project/server/Garnet.Projects.Application/Project/Args/ProjectCreateArgs.cs
  features/project/server/Garnet.Projects.Application/Project/Commands/ProjectUploadAvatarCommand.cs
  features/project/server/Garnet.Projects.Application/Project/Errors/ProjectOnlyOwnerCanEditAvatarError.cs
  features/project/server/Garnet.Projects.Application/Project/IProjectRepository.cs
  features/project/server/Garnet.Projects.Application/Project/ProjectEntity.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/Commands/ProjectTeamUpdateCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/IProjectTeamRepository.cs
  features/project/server/Garnet.Projects.Events/Project/ProjectCreatedEvent.cs
  features/project/server/Garnet.Projects.Events/Project/ProjectDeletedEvent.cs
  features/project/server/Garnet.Projects.Events/Project/ProjectUpdatedEvent.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectCreate/ProjectCreateInput.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectCreate/ProjectCreatePayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectUploadAvatar/ProjectUploadAvatarInput.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectUploadAvatar/ProjectUploadAvatarPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Project/ProjectDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Project/ProjectRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeam/ProjectTeamRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects

#93 #91 [ТЕХ] Аудитная информация по пользователям
  common/server/Garnet.Common.AcceptanceTests/Fakes/DateTimeServiceFake.cs
  common/server/Garnet.Common.Application/DateTimeService.cs
  common/server/Garnet.Common.Application/IDateTimeService.cs
  common/server/Garnet.Common.Infrastructure/MongoDb/AuditInfo.cs
  common/server/Garnet.Common.Infrastructure/MongoDb/DocumentBase.cs
  common/server/Garnet.Common.Infrastructure/MongoDb/Migrations/IRepeatableMigration.cs
  common/server/Garnet.Common.Infrastructure/MongoDb/Migrations/Startup.cs
  common/server/Garnet.Common.Infrastructure/MongoDb/RepositoryBase.cs
  common/server/Garnet/Program.cs
  features/project/server/Garnet.Projects.AcceptanceTests/ScenarioDecorator.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Migrations/CreateIndexesMigration.cs
  features/project/server/Garnet.Projects/Startup.cs
  features/team/server/Garnet.Teams.AcceptanceTests/ScenarioDecorator.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Startup.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/Migration/CreateIndexesTeamMigration.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/Migration/CreateIndexesTeamParticipantMigration.cs
  features/team/server/Garnet.Teams/Startup.cs
  features/user/server/Garnet.Users.AcceptanceTests/ScenarioDecorator.cs
  features/user/server/Garnet.Users.AcceptanceTests/Startup.cs
  features/user/server/Garnet.Users.AcceptanceTests/Support/UserDocumentBuilder.cs
  features/user/server/Garnet.Users.Infrastructure/MongoDb/Migrations/CreateIndexesMigration.cs
  features/user/server/Garnet.Users.Infrastructure/MongoDb/UserDocument.cs
  features/user/server/Garnet.Users.Infrastructure/MongoDb/UserDocumentCreateArgs.cs
  features/user/server/Garnet.Users.Infrastructure/MongoDb/UsersRepository.cs
  features/user/server/Garnet.Users/Startup.cs
Labels: f/users

#101 #79 Пользователь может смотреть список своих команд и других пользователей
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamEditDescription/TeamEditDescription.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamEditDescription/TeamEditDescriptionSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamGet/TeamGet.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamGet/TeamGetSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamsFilter/TeamsFilter.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamsFilter/TeamsFilterSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamsListByUser/TeamsListByUser.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamsListByUser/TeamsListByUserSteps.cs
  features/team/server/Garnet.Teams.Application/Team/Args/TeamsListArgs.cs
  features/team/server/Garnet.Teams.Application/Team/ITeamRepository.cs
  features/team/server/Garnet.Teams.Application/Team/Queries/TeamsListQuery.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsListByUser/TeamsListByUserInput.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsListByUser/TeamsListByUserPayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsMutation.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsQuery.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/Team/TeamRepository.cs
  features/team/server/Garnet.Teams/Startup.cs
Labels: f/teams

#103 #102 Пользователь может редактировать название своего проекта
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectEditName/ProjectEditName.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectEditName/ProjectEditNameSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Startup.cs
  features/project/server/Garnet.Projects.Application/Project/Commands/ProjectEditNameCommand.cs
  features/project/server/Garnet.Projects.Application/Project/Errors/ProjectOnlyOwnerNameCanEditError.cs
  features/project/server/Garnet.Projects.Application/Project/IProjectRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectEditName/ProjectEditNameInput.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectEditName/ProjectEditNamePayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/Garnet.Projects.Infrastructure.csproj
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Project/ProjectRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects

#105 #104 [ТЕХ] Пользователи: Рефакторинг
  features/user/server/Garnet.Users.AcceptanceTests/Features/UserGet/UserGet.feature
  features/user/server/Garnet.Users.AcceptanceTests/Features/UserGet/UserGetSteps.cs
  features/user/server/Garnet.Users.AcceptanceTests/Startup.cs
  features/user/server/Garnet.Users.Application/Args/UserFilterArgs.cs
  features/user/server/Garnet.Users.Application/Commands/UserCreateCommand.cs
  features/user/server/Garnet.Users.Application/Commands/UserEditDescriptionCommand.cs
  features/user/server/Garnet.Users.Application/Commands/UserUploadAvatarCommand.cs
  features/user/server/Garnet.Users.Application/Errors/UserNotFoundError.cs
  features/user/server/Garnet.Users.Application/IUsersRepository.cs
  features/user/server/Garnet.Users.Application/Queries/UserGetQuery.cs
  features/user/server/Garnet.Users.Application/Queries/UsersFilterQuery.cs
  features/user/server/Garnet.Users.Application/UsersService.cs
  features/user/server/Garnet.Users.Infrastructure/Api/UsersMutation.cs
  features/user/server/Garnet.Users.Infrastructure/Api/UsersQuery.cs
  features/user/server/Garnet.Users.Infrastructure/MongoDb/UserDocumentCreateArgs.cs
  features/user/server/Garnet.Users.Infrastructure/MongoDb/UsersRepository.cs
  features/user/server/Garnet.Users/Startup.cs
Labels: f/users

#114 #3: Пользователь может авторизоваться
  .github/workflows/backend-deploy.yaml
  common/server/Garnet.Common.Infrastructure/Garnet.Common.Infrastructure.csproj
  common/server/Garnet.Common.Infrastructure/Identity/AuthSchemas.cs
  common/server/Garnet.Common.Infrastructure/Identity/ClaimsFactory.cs
  common/server/Garnet.Common.Infrastructure/Identity/Kratos/Errors/MissingAuthTokenError.cs
  common/server/Garnet.Common.Infrastructure/Identity/Kratos/Errors/SessionIsNotActiveError.cs
  common/server/Garnet.Common.Infrastructure/Identity/Kratos/KratosAuthenticationHandler.cs
  common/server/Garnet.Common.Infrastructure/Identity/Kratos/KratosAuthenticationSchemeOptions.cs
  common/server/Garnet.Common.Infrastructure/Identity/Kratos/KratosProvider.cs
  common/server/Garnet.Common.Infrastructure/Identity/SecretKey/SecretKeyAuthenticationHandler.cs
  common/server/Garnet.Common.Infrastructure/Identity/Startup.cs
  common/server/Garnet.Common.Infrastructure/S3/Startup.cs
  common/server/Garnet.Common.Infrastructure/Support/EnvironmentEx.cs
  common/server/Garnet.Common.Infrastructure/Support/MissingEnvironmentVariableException.cs
  common/server/Garnet/Program.cs
  common/server/Garnet/Properties/launchSettings.json
  config/deploy.yml
  features/project/server/Garnet.Projects/Startup.cs
  features/team/server/Garnet.Teams/Startup.cs
  features/user/server/Garnet.Users/Startup.cs
Labels: f/identity

#117 #106 Пользователь может редактировать теги своего профиля
  features/user/server/Garnet.Users.AcceptanceTests/Features/UserEditDescription/UserEditDescription.feature
  features/user/server/Garnet.Users.AcceptanceTests/Features/UserEditDescription/UserEditDescriptionSteps.cs
  features/user/server/Garnet.Users.AcceptanceTests/Features/UserEditTags/UserEditTags.feature
  features/user/server/Garnet.Users.AcceptanceTests/Features/UserEditTags/UserEditTagsSteps.cs
  features/user/server/Garnet.Users.AcceptanceTests/Features/UserUploadAvatar/UserUploadAvatar.feature
  features/user/server/Garnet.Users.AcceptanceTests/Features/UserUploadAvatar/UserUploadAvatarSteps.cs
  features/user/server/Garnet.Users.AcceptanceTests/Startup.cs
  features/user/server/Garnet.Users.Application/Commands/UserEditTagsCommand.cs
  features/user/server/Garnet.Users.Application/IUsersRepository.cs
  features/user/server/Garnet.Users.Infrastructure/Api/UserEdit/UserEditTags/UserEditTagsPayload.cs
  features/user/server/Garnet.Users.Infrastructure/Api/UsersMutation.cs
  features/user/server/Garnet.Users.Infrastructure/MongoDb/UsersRepository.cs
  features/user/server/Garnet.Users/Startup.cs
Labels: f/users

#118 #65 Пользователь может отредактировать свой ник
  features/user/server/Garnet.Users.AcceptanceTests/Features/UserEditUsername/UserEditUsername.feature
  features/user/server/Garnet.Users.AcceptanceTests/Features/UserEditUsername/UserEditUsernameSteps.cs
  features/user/server/Garnet.Users.Application/Commands/UserEditUsernameCommand.cs
  features/user/server/Garnet.Users.Application/IUsersRepository.cs
  features/user/server/Garnet.Users.Infrastructure/Api/UserEdit/UserEditUsername/UserEditUsernameInput.cs
  features/user/server/Garnet.Users.Infrastructure/Api/UserEdit/UserEditUsername/UserEditUsernamePayload.cs
  features/user/server/Garnet.Users.Infrastructure/Api/UsersMutation.cs
  features/user/server/Garnet.Users.Infrastructure/MongoDb/UsersRepository.cs
  features/user/server/Garnet.Users/Startup.cs
Labels: f/users

#115 #112 Нет возможности передать картинку-аватарку при создании проекта как файл
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectCreate/ProjectCreateSteps.cs
  features/project/server/Garnet.Projects.Application/Project/Args/AvatarFileArgs.cs
  features/project/server/Garnet.Projects.Application/Project/Args/ProjectCreateArgs.cs
  features/project/server/Garnet.Projects.Application/Project/Commands/ProjectCreateCommand.cs
  features/project/server/Garnet.Projects.Application/Project/Errors/ProjectNameCanNotBeEmptyError.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectCreate/ProjectCreateInput.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Project/ProjectRepository.cs
Labels: t/bug, f/projects

#116 #113 При поиске (фильтрации) проектов не передается аватар
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectGet/ProjectPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsQuery.cs
Labels: t/bug, f/projects

#119 #110 Просмотр приглашений пользователей в команду
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvitationsShow/TeamJoinInvitationsShow.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvitationsShow/TeamJoinInvitationsShowSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestsShow/TeamUserJoinRequestShow.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestsShow/TeamUserJoinRequestsShowSteps.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Errors/TeamJoinInvitationOnlyOwnerCanSeeError.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Queries/TeamJoinInvitationsShowQuery.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamJoinInvitationsShow/TeamJoinInvitationShowPayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsQuery.cs
  features/team/server/Garnet.Teams/Startup.cs
Labels: f/teams

#123 #109 Дата и время подачи заявки\приглашения пользователя в команду
  common/server/Garnet.Common.Application/AuditInfo.cs
  common/server/Garnet.Common.Infrastructure/MongoDb/AuditInfo.cs
  common/server/Garnet.Common.Infrastructure/MongoDb/AuditInfoDocument.cs
  common/server/Garnet.Common.Infrastructure/MongoDb/DocumentBase.cs
  common/server/Garnet.Common.Infrastructure/MongoDb/RepositoryBase.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvitationsShowCreatedCheck/TeamJoinInvitationsShowCreatedCheck.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvitationsShowCreatedCheck/TeamJoinInvitationsShowCreatedCheckSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvite/TeamJoinInviteSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequest/TeamUserJoinRequestStep.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestShowCreatedCheck/TeamUserJoinRequestShowCreatedCheck.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestShowCreatedCheck/TeamUserJoinRequestShowCreatedCheckSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Support/TeamDocumentBuilder.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Queries/TeamJoinInvitationsShowQuery.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/TeamJoinInvitationEntity.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/Queries/TeamUserJoinRequestsShowQuery.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/TeamUserJoinRequestEntity.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamJoinInvite/TeamJoinInvitePayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamUserJoinRequest/TeamUserJoinRequestPayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsMutation.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsQuery.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamJoinInvitation/TeamJoinInvitationDocument.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamJoinInvitation/TeamJoinInvitationRepository.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamUserJoinRequest/TeamUserJoinRequestDocument.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamUserJoinRequest/TeamUserJoinRequestRepository.cs
  features/user/server/Garnet.Users.AcceptanceTests/Support/UserDocumentBuilder.cs
Labels: f/teams

#127 #125 Нет проверки на наличие висящего приглашения от команды при создании запроса на вступление
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequest/TeamUserJoinRequest.feature
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/Commands/TeamUserJoinRequestCreateCommand.cs
Labels: f/teams

#131 #130 Нет проверки, что username пользователя пустая строка
  features/user/server/Garnet.Users.AcceptanceTests/Features/UserEditUsername/UserEditUsername.feature
  features/user/server/Garnet.Users.AcceptanceTests/Features/UserEditUsername/UserEditUsernameSteps.cs
  features/user/server/Garnet.Users.Application/Commands/UserCreateCommand.cs
  features/user/server/Garnet.Users.Application/Commands/UserEditUsernameCommand.cs
  features/user/server/Garnet.Users.Application/Errors/UsernameCanNotBeEmptyError.cs
  features/user/server/Garnet.Users.Infrastructure/Api/UsersMutation.cs
Labels: f/users

#124 #122 Пользователь может выносить вердикт по приглашениям на вступление в команды
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvitationDecide/TeamJoinInvitationDecide.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvitationDecide/TeamJoinInvitationDecideSteps.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Commands/TeamJoinInvitationDecideCommand.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Errors/TeamJoinInvitationNotFoundError.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Errors/TeamJoinInvitationOnlyInvitedUserCanDecideError.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/ITeamJoinInvitationRepository.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/TeamJoinInvitationEntity.cs
  features/team/server/Garnet.Teams.Events/TeamJoinInvitation/TeamJoinInvitationDecidedEvent.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamJoinInvitationDecide/TeamJoinInvitationDecideInput.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsMutation.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamJoinInvitation/TeamJoinInvitationRepository.cs
  features/team/server/Garnet.Teams/Startup.cs
Labels: f/teams

#107 fix/readme
  README.md
Labels: t/docs

#138 #128 Нет проверки, что новое имя при изменении наименования проекта непустое
  features/project/server/Garnet.Projects.Application/Project/Commands/ProjectEditNameCommand.cs
Labels: t/bug, f/projects

#139 chore/disable-mf
  .pnp.cjs
  .run/App.run.xml
  .run/Identity.run.xml
  .run/Project.run.xml
  .run/Team.run.xml
  .run/User.run.xml
  .yarn/cache/@module-federation-nextjs-mf-npm-7.0.8-ae9d36e9d5-0f666128fe.zip
  .yarn/cache/@module-federation-node-npm-1.0.7-3827cae35b-4270d6dae3.zip
  .yarn/cache/@module-federation-utilities-npm-2.0.6-99040d5d9b-8e63ce3dd3.zip
  .yarn/cache/eventemitter3-npm-5.0.1-5e423b7df3-3c7f3864e4.zip
  .yarn/cache/node-fetch-npm-2.6.9-9fc9a54529-8457cf62f5.zip
  .yarn/cache/node-fetch-npm-2.7.0-587d57004e-a3ad788903.zip
  .yarn/cache/tr46-npm-0.0.3-de53018915-c670667f2d.zip
  .yarn/cache/webidl-conversions-npm-3.0.1-60310f6a2b-57c8c5fdd9.zip
  .yarn/cache/whatwg-url-npm-5.0.0-374fb45e60-bd0cc6b75b.zip
  .yarnrc.yml
  common/client/entrypoints/renderer/next.config.js
  common/client/entrypoints/renderer/package.json
  common/client/entrypoints/renderer/src/pages/_app.tsx
  common/client/entrypoints/renderer/src/pages/index.ts
  common/client/entrypoints/renderer/src/pages/index.tsx
  features/identity/client/entrypoints/accounts-app/next.config.js
  features/identity/client/entrypoints/accounts-app/package.json
  features/project/client/entrypoints/renderer/locales/ru.json
  features/project/client/entrypoints/renderer/next.config.js
  features/project/client/entrypoints/renderer/package.json
  features/project/client/entrypoints/renderer/src/fonts.d.ts
  features/project/client/entrypoints/renderer/src/next-env.d.ts
  features/project/client/entrypoints/renderer/src/pages/_app.tsx
  features/project/client/entrypoints/renderer/src/pages/index.ts
  features/project/client/entrypoints/renderer/src/tsconfig.json
  features/project/client/pages/index-page/package.json
  features/project/client/pages/index-page/src/index.page.tsx
  features/project/client/pages/index-page/src/index.ts
  features/team/client/entrypoints/next.config.js
  features/team/client/entrypoints/package.json
  features/team/client/entrypoints/src/.gitignore
  features/team/client/entrypoints/src/locales/ru.json
  features/team/client/entrypoints/src/next-env.d.ts
  features/team/client/entrypoints/src/pages/_app.tsx
  features/team/client/entrypoints/src/pages/index.ts
  features/team/client/entrypoints/src/tsconfig.json
  features/team/client/pages/index-page/package.json
  features/team/client/pages/index-page/src/index.page.tsx
  features/team/client/pages/index-page/src/index.ts
  features/user/client/entrypoints/dashboard/locales/ru.json
  features/user/client/entrypoints/dashboard/next.config.js
  features/user/client/entrypoints/dashboard/package.json
  features/user/client/entrypoints/dashboard/src/fonts.d.ts
  features/user/client/entrypoints/dashboard/src/next-env.d.ts
  features/user/client/entrypoints/dashboard/src/pages/_app.tsx
  features/user/client/entrypoints/dashboard/src/pages/index.ts
  features/user/client/entrypoints/dashboard/src/tsconfig.json
  features/user/client/pages/index-page/package.json
  features/user/client/pages/index-page/src/index.ts
  package.json
  yarn.lock
Labels: t/bug

#135 #111 Просмотр количества участников и количества проектов в командах-участниках
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectCreate/ProjectCreateSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectFilter/ProjectFilterSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamJoinRequest/ProjectTeamJoinRequestSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamJoinRequestDecide/ProjectTeamJoinRequestDecide.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamJoinRequestGet/ProjectTeamJoinRequestGetSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamParticipantsUsersAndProjectsGet/ProjectTeamParticipantsUsersAndProjectsGet.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamParticipantsUsersAndProjectsGet/ProjectTeamParticipantsUsersAndProjectsGetSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Support/ProjectTeamDocumentBuilder.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Support/ProjectTeamParticipantDocumentBuilder.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Support/ProjectUserDocumentBuilder.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/Args/ProjectTeamAddParticipantArgs.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/Args/ProjectTeamCreateArgs.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/Args/ProjectTeamUpdateArgs.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/Commands/ProjectTeamAddParticipantCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/Commands/ProjectTeamCreateCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/Commands/ProjectTeamUpdateCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/IProjectTeamRepository.cs
  features/project/server/Garnet.Projects.Application/ProjectTeam/ProjectTeamEntity.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/Args/ProjectTeamParticipantAddParticipantArgs.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/Args/ProjectTeamParticipantCreateArgs.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/Args/ProjectTeamParticipantUpdateArgs.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/Commands/ProjectTeamParticipantAddParticipantCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/Commands/ProjectTeamParticipantUpdateCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/IProjectTeamParticipantRepository.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/ProjectTeamParticipantEntity.cs
  features/project/server/Garnet.Projects.Application/ProjectUser/Commands/ProjectUserCreateCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectUser/Commands/ProjectUserUpdateCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectUser/IProjectUserRepository.cs
  features/project/server/Garnet.Projects.Application/ProjectUser/ProjectUserEntity.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsQuery.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/Team/TeamCreatedEventConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/Team/TeamJoinInvitationDecidedEventConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/Team/TeamUpdatedEventConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/Team/TeamUserJoinRequestDecidedEventConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/User/UserCreatedEventConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/User/UserUpdatedEventConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeam/ProjectTeamDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeam/ProjectTeamRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeamParticipant/ProjectTeamParticipantDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeamParticipant/ProjectTeamParticipantRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectUser/ProjectUserDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectUser/ProjectUserRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects

#145 #88 Пользователь может выйти из состава команды
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamParticipantLeaveTeam/TeamParticipantLeaveTeam.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamParticipantLeaveTeam/TeamParticipantLeaveTeamSteps.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Commands/TeamJoinInviteCommand.cs
  features/team/server/Garnet.Teams.Application/TeamParticipant/Commands/TeamParticipantLeaveTeamCommand.cs
  features/team/server/Garnet.Teams.Application/TeamParticipant/Errors/TeamOwnerCanNotLeaveTeamError.cs
  features/team/server/Garnet.Teams.Application/TeamParticipant/ITeamParticipantRepository.cs
  features/team/server/Garnet.Teams.Application/TeamParticipant/TeamParticipantEntity.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/Commands/TeamUserJoinRequestCreateCommand.cs
  features/team/server/Garnet.Teams.Events/TeamParticipant/TeamParticipantLeftTeamEvent.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamParticipantLeaveTeam/TeamParticipantLeaveTeamPayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsMutation.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamParticipant/TeamParticipantRepository.cs
  features/team/server/Garnet.Teams/Startup.cs
Labels: f/teams

#146 #59 Пользователь может отменять свои приглашения на вступление в свою команду
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvitationCancel/TeamJoinInvitationCancel.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvitationCancel/TeamJoinInvitationCancelSteps.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Commands/TeamJoinInvitationCancelCommand.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Commands/TeamJoinInvitationDecideCommand.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Errors/TeamJoinInvitationOnlyOwnerCanCancelError.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/ITeamJoinInvitationRepository.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/TeamJoinInvitationEntity.cs
  features/team/server/Garnet.Teams.Events/TeamJoinInvitation/TeamJoinInvitationCancelledEvent.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamJoinInvitationCancel/TeamJoinInvitationCancelPayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsMutation.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/TeamJoinInvitation/TeamJoinInvitationRepository.cs
  features/team/server/Garnet.Teams/Startup.cs
Labels: f/teams

#147 #57 Пользователь может отменять свои заявки на вступление в другие команды
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestCancel/TeamUserJoinRequestCancel.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestCancel/TeamUserJoinRequestCancelSteps.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/Commands/TeamUserJoinRequestCancelCommand.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/Errors/TeamUserJoinRequestOnlyAuthorCanCancelError.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/TeamUserJoinRequestEntity.cs
  features/team/server/Garnet.Teams.Events/TeamUserJoinRequest/TeamUserJoinRequestCancelledEvent.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamUserJoinRequestCancel/TeamUserJoinRequestCancelPayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsMutation.cs
  features/team/server/Garnet.Teams/Startup.cs
Labels: f/teams

#148 #89 Владелец команды может удалить команду из состава проекта
  features/team/server/Garnet.Teams.AcceptanceTests/FakeServices/ProjectFake/ProjectTeamLeaveFakeConsumer.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamLeaveProject/TeamLeaveProject.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamLeaveProject/TeamLeaveProjectSteps.cs
  features/team/server/Garnet.Teams.AcceptanceTests/Startup.cs
  features/team/server/Garnet.Teams.Application/Team/Commands/TeamLeaveProjectCommand.cs
  features/team/server/Garnet.Teams.Application/Team/Errors/TeamOnlyOwnerCanDeleteFromProject.cs
  features/team/server/Garnet.Teams.Events/TeamJoinProjectRequest/TeamLeaveProjectEvent.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamLeaveProject/TeamLeaveProjectInput.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamLeaveProject/TeamLeaveProjectPayload.cs
  features/team/server/Garnet.Teams.Infrastructure/Api/TeamsMutation.cs
  features/team/server/Garnet.Teams/Startup.cs
Labels: f/teams

#160 #153 Владельцу приходит уведомление о решении по приглашению в команду
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvitationDecide/TeamJoinInvitationDecide.feature
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamJoinInvitationDecide/TeamJoinInvitationDecideSteps.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Commands/TeamJoinInvitationDecideCommand.cs
  features/team/server/Garnet.Teams.Application/TeamJoinInvitation/Notifications/TeamJoinInvitationEntityNotificationsExtensions.cs
Labels: f/teams, f/notifications

#163 #162 Владельцу приходит уведомление о заявке на вступление в команду
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequest/TeamUserJoinRequest.feature
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/Commands/TeamUserJoinRequestCreateCommand.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/Notifications/TeamUserJoinRequestEntityNotificationsExtensions.cs
Labels: f/teams, f/notifications

#154 #140 Пользователь может создать задачу внутри проекта
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectDelete/ProjectDeleteSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectEditDescription/ProjectEditDescriptionSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectFilter/ProjectFilterSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectGet/ProjectGetSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskCreate/ProjectTaskCreate.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskCreate/ProjectTaskCreateSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamParticipantsUsersAndProjectsGet/ProjectTeamParticipantsUsersAndProjectsGetSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Startup.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Support/ProjectDocumentBuilder.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Support/ProjectTaskDocumentBuilder.cs
  features/project/server/Garnet.Projects.Application/Project/IProjectRepository.cs
  features/project/server/Garnet.Projects.Application/Project/ProjectEntity.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Args/ProjectTaskCreateArgs.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Args/ProjectTaskStatuses.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Commands/ProjectTaskCreateCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Errors/ProjectOnlyParticipantCanCreateTaskError.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Errors/ProjectTaskNameCanNotBeEmptyError.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/IProjectTaskRepository.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/ProjectTaskEntity.cs
  features/project/server/Garnet.Projects.Events/Project/ProjectCreatedEvent.cs
  features/project/server/Garnet.Projects.Events/Project/ProjectDeletedEvent.cs
  features/project/server/Garnet.Projects.Events/Project/ProjectUpdatedEvent.cs
  features/project/server/Garnet.Projects.Events/ProjectTask/ProjectTaskCreatedEvent.cs
  features/project/server/Garnet.Projects.Events/ProjectTask/ProjectTaskDeletedEvent.cs
  features/project/server/Garnet.Projects.Events/ProjectTask/ProjectTaskUpdatedEvent.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTask/ProjectTaskCreateInput.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTask/ProjectTaskCreatePayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Db.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Project/ProjectDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Project/ProjectRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTask/ProjectTaskDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTask/ProjectTaskRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeam/ProjectTeamDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeamJoinRequest/ProjectTeamJoinRequestDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeamParticipant/ProjectTeamParticipantDocument.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectUser/ProjectUserDocument.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects, f/tasks

#165 #164 Пользователю приходит уведомление о решении по заявке на вступление в команду
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamUserJoinRequestDecide/TeamUserJoinRequestDecide.feature
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/Commands/TeamUserJoinRequestDecideCommand.cs
  features/team/server/Garnet.Teams.Application/TeamUserJoinRequest/Notifications/TeamUserJoinRequestEntityNotificationsExtensions.cs
Labels: f/teams, f/notifications

#172 #171 Владельцу приходит уведомление о выходе участника из команды
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamParticipantLeaveTeam/TeamParticipantLeaveTeam.feature
  features/team/server/Garnet.Teams.Application/TeamParticipant/Commands/TeamParticipantLeaveTeamCommand.cs
  features/team/server/Garnet.Teams.Application/TeamParticipant/Notifications/TeamParticipantEntityNotificationsExtensions.cs
Labels: f/teams, f/notifications

#183 #179 Уведомление о смене владельца проекта
  features/project/server/Garnet.Projects.AcceptanceTests/FakeServices/NotificationFake/SendNotificationCommandMessageFakeConsumer.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectEditOwner/ProjectEditOwner.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectEditOwner/ProjectEditOwnerSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Garnet.Projects.AcceptanceTests.csproj
  features/project/server/Garnet.Projects.AcceptanceTests/Startup.cs
  features/project/server/Garnet.Projects.Application/Garnet.Projects.Application.csproj
  features/project/server/Garnet.Projects.Application/Project/Commands/ProjectEditOwnerCommand.cs
  features/project/server/Garnet.Projects.Application/Project/Notifications/ProjectEntityNotificationsExtensions.cs
Labels: f/projects, f/notifications

#181 #180 Пользователь может просмотреть страницу задачи
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskCreate/ProjectTaskCreateSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskGet/ProjectTaskGet.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskGet/ProjectTaskGetSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Startup.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Errors/ProjectTaskNotFoundError.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/IProjectTaskRepository.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Queries/ProjectTaskGetQuery.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/IProjectTeamParticipantRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTaskCreate/ProjectTaskCreateInput.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTaskCreate/ProjectTaskCreatePayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTaskGet/ProjectTaskGetPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsQuery.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Migrations/CreateIndexesProjectMigration.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Migrations/CreateIndexesProjectTaskMigration.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/Migrations/CreateIndexesProjectTeamParticipantMigration.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTask/ProjectTaskRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeamParticipant/ProjectTeamParticipantRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects, f/tasks

#182 #178 Уведомление о смене владельца команды
  features/team/server/Garnet.Teams.AcceptanceTests/Features/TeamEditOwner/TeamEditOwner.feature
  features/team/server/Garnet.Teams.Application/Team/Commands/TeamEditOwnerCommand.cs
  features/team/server/Garnet.Teams.Application/Team/Notifications/TeamEntityNotificationsExtensions.cs
  features/team/server/Garnet.Teams.Application/Team/TeamEntity.cs
  features/team/server/Garnet.Teams.Infrastructure/MongoDb/Team/TeamDocument.cs
Labels: f/teams, f/notifications

#187 #188 di сервисов нотификации
  features/notification/server/Garnet.Notifications/Startup.cs
Labels: t/bug, f/notifications

#186 #156 Пользователь может удалить задачу внутри проекта
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskDelete/ProjectTaskDelete.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskDelete/ProjectTaskDeleteSteps.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Commands/ProjectTaskDeleteCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Errors/ProjectOnlyParticipantCanDeleteTaskError.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/IProjectTaskRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTaskDelete/ProjectTaskDeletePayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTask/ProjectTaskRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects, f/tasks

#195 #155 Пользователь может отредактировать название задачи внутри проекта
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskNameEdit/ProjectTaskNameEdit.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskNameEdit/ProjectTaskNameEditSteps.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Commands/ProjectTaskEditNameCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Errors/ProjectOnlyParticipantCanEditTaskError.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/IProjectTaskRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTaskEditName/ProjectTaskEditNamePayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTask/ProjectTaskRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects, f/tasks

#201 #191 Пользователь может закрыть задачу внутри проекта
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskClose/ProjectTaskClose.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskClose/ProjectTaskCloseSteps.cs
  features/project/server/Garnet.Projects.AcceptanceTests/Support/ProjectTaskDocumentBuilder.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Commands/ProjectTaskCloseCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Errors/ProjectTaskAlreadySetThisStatusError.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Errors/ProjectTaskResponsiblePersonOnlyCanCloseTaskError.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/IProjectTaskRepository.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/ProjectTaskEntity.cs
  features/project/server/Garnet.Projects.Events/ProjectTask/ProjectTaskClosedEvent.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTaskClose/ProjectTaskClosePayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTask/ProjectTaskRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects, f/tasks

#185 #175 Участникам команды приходит уведомление о решении по заявке на вступление в проект
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamJoinRequestDecide/ProjectTeamJoinRequestDecide.feature
  features/project/server/Garnet.Projects.Application/ProjectTeamJoinRequest/Commands/ProjectTeamJoinRequestDecideCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamJoinRequest/Notifications/ProjectTeamJoinRequestEntityNotificationsExtensions.cs
Labels: f/projects, f/notifications

#202 #192 Пользователь может отредактировать теги задачи внутри проекта
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskEditTags/ProjectTaskEditTags.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskEditTags/ProjectTaskEditTagsSteps.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Commands/ProjectTaskEditTagsCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/IProjectTaskRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTaskEditTags/ProjectTaskEditTagsInput.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTaskEditTags/ProjectTaskEditTagsPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTask/ProjectTaskRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects, f/tasks

#203 #193 Пользователь может отредактировать лейблы задачи внутри проекта
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskEditLabels/ProjectTaskEditLabels.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTaskEditLabels/ProjectTaskEditLabelsSteps.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/Commands/ProjectTaskEditLabelsCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTask/IProjectTaskRepository.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTaskEditLabels/ProjectTaskEditLabelsInput.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectTaskEditLabels/ProjectTaskEditLabelsPayload.cs
  features/project/server/Garnet.Projects.Infrastructure/Api/ProjectsMutation.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTask/ProjectTaskRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects, f/tasks

#189 #173 Участникам команды и владельцу проекта приходит уведомление о выходе команды из проекта
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamLeaveProject/ProjectTeamLeaveProject.feature
  features/project/server/Garnet.Projects.AcceptanceTests/Features/ProjectTeamLeaveProject/ProjectTeamLeaveProjectSteps.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/Commands/ProjectTeamParticipantLeaveCommand.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/IProjectTeamParticipantRepository.cs
  features/project/server/Garnet.Projects.Application/ProjectTeamParticipant/Notifications/ProjectTeamParticipantEntityNotificationsExtensions.cs
  features/project/server/Garnet.Projects.Infrastructure/EventHandlers/ProjectTeamJoinRequest/ProjectTeamLeaveProjectConsumer.cs
  features/project/server/Garnet.Projects.Infrastructure/MongoDb/ProjectTeamParticipant/ProjectTeamParticipantRepository.cs
  features/project/server/Garnet.Projects/Startup.cs
Labels: f/projects, f/notifications
